/* Reset default margin and padding */
body{
  background-color: #17153B;
}
body, html {
  margin: 0;
  padding: 0;
}

/* Container to center content */
.container {
  text-align: center; /* Center aligns h1 and .topnav */
}

/* Title style */
.title {
  color: #f0f8ff; /* Example color */
  font-size: 27px; /* Example font size */
  font-family: Impact, fantasy;
  font-stretch: ultra-condensed;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #17153B;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  font-family: Impact, fantasy;
  font-stretch: ultra-condensed;
  display: inline-block; /* Ensures links are displayed in a row */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #C8ACD6;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2E236C;
  color: white;
}
